p
  |
    The Fibonacci sequence is a series of numbers where the next number in the sequence is the sum of the previous 2 numbers.
p
  |
    The first two numbers in the sequence are
  code<> 1
  |
    and
  code< 1
  |
    .
p
  '
    The sequence starts with:
  code 1, 1, 2, 3, 5, 8...
p
  |
    We would like to write a simple recursive solution that returns the nth Fibonacci number.
p
  |
    For example,
  code<> fibonacci(4)
  |
    would return
  code< 3
  |
    , and
  code<> fibonacci(6)
  |
    would return
  code< 8
  |
    .
p
  |
    Here is the pseudocode for the simple recursive solution:
pre
  | fibonacci(n):
      if n is 1 or 2:
        return 1
      return fibonacci(n-1) + fibonacci(n-2)

= render partial: 'layouts/editor', locals: {name: 'naiveFib', level: 'naive_fibonacci'}
